<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>HOME</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <h1>WELCOME TO canITakeIt</h1>
    <form action="/newStock" method="POST">
        <div class="mb-3">
            <label for="InputSname" class="form-label">Stock Name</label>
            <input type="text" name="sName" class="form-control" id="InputSname" >
        </div>
        <div class="mb-3">
            <label for="InputStype" class="form-label">Stock Type</label>
            <input type="text" name="sType" class="form-control" id="InputStype" >
        </div>
        <div class="mb-3">
            <label for="InputSquantity" class="form-label">Stock Quantity</label>
            <input type="text" name="sQuantity" class="form-control" id="InputSquantity" >
        </div>
        <div class="mb-3">
            <label for="InputSimg" class="form-label">Stock Img</label>
            <input type="text" name="sImg" class="form-control" id="InputSimg" >
        </div>  
          <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>