
<%- include('./header.ejs') %>
<div class="container">
<% if (role == 'chef') {%>
    <%- include('./chefHome.ejs') %>
<%} else {%>
    <h1> Welcome to CanITakeIT, votre borne de commande en temps réel !</h1>
    <p>CanITakeIT vous propose de suivre le dérouler de votre commande en temps réel, le prix,
        la prise en charge de vos plat, tout au long de votre repas vous pouvez commander directement 
        ce que vous souhaitez, lorsque votre plat est prêt vous serez averti pour aller les cherchers
        dans les casiers corréspondant à votre table !  
    </p>
<%}%>
</div>
<%- include('./footer.ejs') %>

