<%- include('./header.ejs') %>
<div class="container">
    <h1>WELCOME TO canITakeIt</h1>
    <form action="/api/login" method="POST">
      <p>WARNING LOG IS CASE SENSITIVE</p>
      <div class="mb-3">
        <label for="IDtable" class="form-label">table number</label>
        <input type="IDtable" name="IDtable" class="form-control" id="IDtable">
      </div>
        <div class="mb-3">
            <label for="InputFirstname" class="form-label">Firstname</label>
            <input type="text" name="Firstname" class="form-control" id="InputFirstname" >
          </div>
          <div class="mb-3">
            <label for="InputLastname" class="form-label">Lastname</label>
            <input type="text" name="Lastname"class="form-control" id="InputLastname" >
          </div>
          <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input type="Password" name="Password" class="form-control" id="Password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<%- include('./footer.ejs') %>